@charset "UTF-8";
/* reset */
/* line 2, ../sass/scss/base/reset.scss */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
  margin: 0;
  padding: 0; }

/* line 3, ../sass/scss/base/reset.scss */
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details {
  display: block; }

/* line 4, ../sass/scss/base/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 5, ../sass/scss/base/reset.scss */
caption, th {
  text-align: left;
  font-weight: normal; }

/* line 6, ../sass/scss/base/reset.scss */
html, body, fieldset, img, iframe, abbr {
  border: 0; }

/* line 7, ../sass/scss/base/reset.scss */
i, cite, em, var, address, dfn {
  font-style: normal; }

/* line 8, ../sass/scss/base/reset.scss */
[hidefocus], summary {
  outline: 0; }

/* line 9, ../sass/scss/base/reset.scss */
li {
  list-style: none; }

/* line 10, ../sass/scss/base/reset.scss */
h1, h2, h3, h4, h5, h6, small {
  font-size: 100%; }

/* line 11, ../sass/scss/base/reset.scss */
sup, sub {
  font-size: 83%; }

/* line 12, ../sass/scss/base/reset.scss */
pre, code, kbd, samp {
  font-family: inherit; }

/* line 13, ../sass/scss/base/reset.scss */
q:before, q:after {
  content: none; }

/* line 14, ../sass/scss/base/reset.scss */
textarea {
  overflow: auto;
  resize: none; }

/* line 15, ../sass/scss/base/reset.scss */
label, summary {
  cursor: default; }

/* line 16, ../sass/scss/base/reset.scss */
a, button {
  cursor: pointer; }

/* line 17, ../sass/scss/base/reset.scss */
h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: bold; }

/* line 18, ../sass/scss/base/reset.scss */
del, ins, u, s, a, a:hover {
  text-decoration: none; }

/* line 19, ../sass/scss/base/reset.scss */
body, textarea, input, button, select, keygen, legend {
  font: 12px/1.14 arial,\5b8b\4f53;
  color: #333;
  outline: 0; }

/* line 20, ../sass/scss/base/reset.scss */
body {
  background: #fff; }

/* line 21, ../sass/scss/base/reset.scss */
a, a:hover {
  color: #333; }

/* line 22, ../sass/scss/base/reset.scss */
a:hover {
  text-decoration: underline; }

/* function */
/* line 3, ../sass/scss/base/function.scss */
.f-cb:after, .f-cbli li:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  content: "."; }

/* line 4, ../sass/scss/base/function.scss */
.f-cb, .f-cbli li {
  zoom: 1; }

/* line 5, ../sass/scss/base/function.scss */
.f-ib {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 6, ../sass/scss/base/function.scss */
.f-dn {
  display: none; }

/* line 7, ../sass/scss/base/function.scss */
.f-db {
  display: block; }

/* line 8, ../sass/scss/base/function.scss */
.f-fl {
  float: left; }

/* line 9, ../sass/scss/base/function.scss */
.f-fr {
  float: right; }

/* line 10, ../sass/scss/base/function.scss */
.f-pr {
  position: relative; }

/* line 11, ../sass/scss/base/function.scss */
.f-prz {
  position: relative;
  zoom: 1; }

/* line 12, ../sass/scss/base/function.scss */
.f-oh {
  overflow: hidden; }

/* line 13, ../sass/scss/base/function.scss */
.f-ff0 {
  font-family: arial,\5b8b\4f53; }

/* line 14, ../sass/scss/base/function.scss */
.f-ff1 {
  font-family: "Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53; }

/* line 15, ../sass/scss/base/function.scss */
.f-fs1 {
  font-size: 12px; }

/* line 16, ../sass/scss/base/function.scss */
.f-fs2 {
  font-size: 14px; }

/* line 17, ../sass/scss/base/function.scss */
.f-fwn {
  font-weight: normal; }

/* line 18, ../sass/scss/base/function.scss */
.f-fwb {
  font-weight: bold; }

/* line 19, ../sass/scss/base/function.scss */
.f-tal {
  text-align: left; }

/* line 20, ../sass/scss/base/function.scss */
.f-tac {
  text-align: center; }

/* line 21, ../sass/scss/base/function.scss */
.f-tar {
  text-align: right; }

/* line 22, ../sass/scss/base/function.scss */
.f-taj {
  text-align: justify;
  text-justify: inter-ideograph; }

/* line 23, ../sass/scss/base/function.scss */
.f-vam, .f-vama * {
  vertical-align: middle; }

/* line 24, ../sass/scss/base/function.scss */
.f-wsn {
  word-wrap: normal;
  white-space: nowrap; }

/* line 25, ../sass/scss/base/function.scss */
.f-pre {
  overflow: hidden;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all; }

/* line 26, ../sass/scss/base/function.scss */
.f-wwb {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all; }

/* line 27, ../sass/scss/base/function.scss */
.f-ti {
  overflow: hidden;
  text-indent: -30000px; }

/* line 28, ../sass/scss/base/function.scss */
.f-ti2 {
  text-indent: 2em; }

/* line 29, ../sass/scss/base/function.scss */
.f-lhn {
  line-height: normal; }

/* line 30, ../sass/scss/base/function.scss */
.f-tdu, .f-tdu:hover {
  text-decoration: underline; }

/* line 31, ../sass/scss/base/function.scss */
.f-tdn, .f-tdn:hover {
  text-decoration: none; }

/* line 32, ../sass/scss/base/function.scss */
.f-toe {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis; }

/* line 33, ../sass/scss/base/function.scss */
.f-csp {
  cursor: pointer; }

/* line 34, ../sass/scss/base/function.scss */
.f-csd {
  cursor: default; }

/* line 35, ../sass/scss/base/function.scss */
.f-csh {
  cursor: help; }

/* line 36, ../sass/scss/base/function.scss */
.f-csm {
  cursor: move; }

/* line 37, ../sass/scss/base/function.scss */
.f-usn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* line 41, ../sass/scss/base/function.scss */
.p-lr25 {
  padding: 0 25px; }

/* line 44, ../sass/scss/base/function.scss */
.p15 {
  padding: 15px; }

/* line 48, ../sass/scss/base/function.scss */
.ptb20 {
  padding: 20px 0; }

/* line 51, ../sass/scss/base/function.scss */
.ptb25 {
  padding: 25px 0; }

/* line 54, ../sass/scss/base/function.scss */
.w300 {
  width: 300px; }

/* line 57, ../sass/scss/base/function.scss */
.w703 {
  width: 703px; }

/* line 62, ../sass/scss/base/function.scss */
.c-0068b7 {
  color: #0068b7; }

/* line 65, ../sass/scss/base/function.scss */
.c-ee6a11 {
  color: #ee6a11; }

/* line 68, ../sass/scss/base/function.scss */
.c-ed5f00 {
  color: #ed5f00; }

/* line 71, ../sass/scss/base/function.scss */
.c-000 {
  color: #000; }

/* line 76, ../sass/scss/base/function.scss */
.ml15 {
  margin-left: 15px; }

/* line 79, ../sass/scss/base/function.scss */
.mt15 {
  margin-top: 15px; }

/* line 82, ../sass/scss/base/function.scss */
.mt25 {
  margin-top: 25px; }

/* line 85, ../sass/scss/base/function.scss */
.mb50 {
  margin-bottom: 50px; }

/* line 88, ../sass/scss/base/function.scss */
.mb25 {
  margin-bottom: 25px; }

/* line 91, ../sass/scss/base/function.scss */
.mr0 {
  margin-right: 0; }

/* line 95, ../sass/scss/base/function.scss */
.z-crt {
  display: block; }

/*组件通用公共样式
------------------------------------------------------------------------------------------*/
/*----皮肤----*/
/* line 6, ../sass/scss/components/ui.scss */
.s-fc-ed {
  color: #ed5f00; }

/* line 7, ../sass/scss/components/ui.scss */
.s-fc-555 {
  color: #555; }

/* line 8, ../sass/scss/components/ui.scss */
.s-fc-999 {
  color: #999; }

/* line 9, ../sass/scss/components/ui.scss */
.s-bg-e3 {
  background: #e3e3e3; }

/*状态*/
/* line 12, ../sass/scss/components/ui.scss */
.g-bd {
  position: relative;
  z-index: 1; }

/* line 16, ../sass/scss/components/ui.scss */
.z-juzhon {
  width: 1000px;
  margin: 0 auto; }

/*水平文字链接列表 */
/* line 19, ../sass/scss/components/ui.scss */
.m-list1 {
  line-height: 23px; }

/* line 20, ../sass/scss/components/ui.scss */
.m-list1 ul {
  margin-left: -10px; }

/* line 21, ../sass/scss/components/ui.scss */
.m-list1 li {
  float: left;
  padding-left: 10px; }

/* line 22, ../sass/scss/components/ui.scss */
.m-list1 a, .m-list1 a:hover {
  text-decoration: none;
  color: #333; }

/* 带点文字链接列表-默认方点 */
/* line 25, ../sass/scss/components/ui.scss */
.m-list2 {
  padding-top: 1px;
  line-height: 1.5; }

/* line 26, ../sass/scss/components/ui.scss */
.m-list2 ul {
  margin-top: -6px; }

/* line 27, ../sass/scss/components/ui.scss */
.m-list2 li {
  position: relative;
  padding-left: 10px;
  margin-top: 5px;
  zoom: 1;
  height: 24px;
  line-height: 24px;
  overflow: hidden; }

/* line 28, ../sass/scss/components/ui.scss */
.m-list2 li a:link, .m-list2 li a:visited {
  color: #555; }

/* line 29, ../sass/scss/components/ui.scss */
.m-list2 li a:hover, .m-list2 li a:active {
  color: #ed5f00; }

/* line 30, ../sass/scss/components/ui.scss */
.m-list2 li i.dot {
  position: absolute;
  top: 52%;
  left: 0;
  width: 0;
  overflow: hidden;
  height: 1px;
  margin-top: -3px;
  border: 1px solid #555; }

/* line 31, ../sass/scss/components/ui.scss */
.m-list2-lg {
  font-size: 14px; }

/* 标题文本-默认大小继承 */
/* line 34, ../sass/scss/components/ui.scss */
.u-tt {
  font-family: 'microsoft yahei',sans-serif; }

/* line 35, ../sass/scss/components/ui.scss */
.u-tt-sm {
  font-size: 12px; }

/* line 36, ../sass/scss/components/ui.scss */
.u-tt-md {
  font-size: 14px; }

/* line 37, ../sass/scss/components/ui.scss */
.u-tt-lg {
  font-size: 16px; }

/* line 38, ../sass/scss/components/ui.scss */
.u-tt-xl {
  font-size: 18px; }

/* 文本型圆角背景导航 */
/* line 41, ../sass/scss/components/ui.scss */
.m-nav, .m-nav li, .m-nav li a, .m-nav .corner {
  height: 46px;
  line-height: 46px; }

/* line 42, ../sass/scss/components/ui.scss */
.m-nav, .m-nav li, .m-nav .corner {
  background: #0068b7 no-repeat -9999px -9999px; }

/* line 43, ../sass/scss/components/ui.scss */
.m-nav {
  position: relative;
  text-align: center;
  font-size: 0;
  letter-spacing: -0.307em;
  *letter-spacing: normal;
  *word-spacing: -1px;
  color: #fff;
  background-repeat: repeat-x;
  background-position: 0 0;
  border-radius: 3px; }

/* line 45, ../sass/scss/components/ui.scss */
.m-nav li, .m-nav li a {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 46, ../sass/scss/components/ui.scss */
.m-nav li {
  padding: 0 0 0 1px;
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  background-position: 0 -150px; }

/* line 47, ../sass/scss/components/ui.scss */
.m-nav li.first {
  background: none; }

/* line 48, ../sass/scss/components/ui.scss */
.m-nav li a, .m-nav li a:hover {
  text-decoration: none;
  color: #fff; }

/* line 49, ../sass/scss/components/ui.scss */
.m-nav li a {
  padding: 0 45px;
  font-size: 18px;
  font-family: "微软雅黑"; }

/*新闻列表*/
/* line 51, ../sass/scss/components/ui.scss */
.m-newsMin {
  width: 323px; }

/* line 52, ../sass/scss/components/ui.scss */
.m-newsMin .hr {
  position: relative;
  height: 40px;
  background: #0068b7 url(../images/hr.png) no-repeat 15px 8px;
  line-height: 40px;
  color: #fff; }

/* line 53, ../sass/scss/components/ui.scss */
.m-newsMin .hr span {
  padding-left: 44px; }

/* line 54, ../sass/scss/components/ui.scss */
.m-newsMin .hr a {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #fff;
  line-height: normal; }

/* line 55, ../sass/scss/components/ui.scss */
.m-newsMin .m-list2 {
  border: 1px solid #e3e3e3;
  padding: 15px; }

/* line 59, ../sass/scss/components/ui.scss */
.tab-tr, .lst-tr {
  height: 32px;
  background: #e7e7e7;
  border-top: 2px solid #0068b7; }

/* line 65, ../sass/scss/components/ui.scss */
.u-tab .tr-first, .lst-tr span, .software-tr span {
  margin: 0 10px 0 15px;
  font: 16px/32px Microsoft YaHei, \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53;
  _display: inline; }

/* line 71, ../sass/scss/components/ui.scss */
.lst-tr a, .software-tr a {
  position: absolute;
  right: 15px;
  top: 8px; }

/* line 79, ../sass/scss/components/ui.scss */
.u-tab {
  width: 100%; }
  /* line 81, ../sass/scss/components/ui.scss */
  .tab-tr {
    position: relative; }
    /* line 84, ../sass/scss/components/ui.scss */
    .tab-tr li {
      float: left;
      margin-top: 4px;
      margin-right: 5px;
      font-size: 14px; }
      /* line 90, ../sass/scss/components/ui.scss */
      .tab-tr li a {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        height: 25px;
        line-height: 25px;
        padding: 0 5px; }
    /* line 96, ../sass/scss/components/ui.scss */
    .tab-tr .z-current {
      background: #fff;
      border-bottom: 2px solid #ed5f00; }
  /* line 101, ../sass/scss/components/ui.scss */
  .u-tab .first {
    margin-left: 15px;
    display: inline; }
  /* line 108, ../sass/scss/components/ui.scss */
  .u-tab .notLi {
    position: absolute;
    right: 15px; }
    /* line 111, ../sass/scss/components/ui.scss */
    .u-tab .notLi .not {
      font-size: 12px;
      color: #777; }
  /* line 116, ../sass/scss/components/ui.scss */
  .u-tab .tab-list {
    height: 169px;
    border: 1px solid #e7e7e7; }
  /* line 120, ../sass/scss/components/ui.scss */
  .u-tab .tab-list-2 {
    padding: 0 25px 25px;
    border: 1px solid #e7e7e7; }
    /* line 124, ../sass/scss/components/ui.scss */
    .tab-list-ul li {
      float: left;
      overflow: hidden;
      width: 200px;
      height: 166px;
      margin: 20px 25px 0 0; }
    /* line 131, ../sass/scss/components/ui.scss */
    .tab-list-ul h3, .tab-list-ul p {
      height: 20px;
      line-height: 20px; }
    /* line 135, ../sass/scss/components/ui.scss */
    .tab-list-ul a {
      display: block;
      font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53;
      font-size: 14px;
      font-weight: normal; }

/* line 141, ../sass/scss/components/ui.scss */
.u-lst {
  width: 325px; }
  /* line 143, ../sass/scss/components/ui.scss */
  .lst-tr {
    position: relative; }
    /* line 149, ../sass/scss/components/ui.scss */
    .lst-tr a {
      color: #777; }
  /* line 154, ../sass/scss/components/ui.scss */
  .lst-list {
    height: 155px;
    padding: 14px 14px 0;
    border: 1px solid #e7e7e7; }
    /* line 158, ../sass/scss/components/ui.scss */
    .lst-list li {
      height: 24px;
      line-height: 24px;
      padding-left: 15px;
      background: url(../images/lst.png) no-repeat 0 center; }
    /* line 163, ../sass/scss/components/ui.scss */
    .lst-list .classify {
      margin-right: 15px;
      color: #333; }
    /* line 167, ../sass/scss/components/ui.scss */
    .lst-list .tit {
      color: #777; }
  /* line 171, ../sass/scss/components/ui.scss */
  .lst-list-2 {
    padding: 14px 16px;
    border: 1px solid #e7e7e7; }
    /* line 174, ../sass/scss/components/ui.scss */
    .lst-list-2 .lst-list-2-1 {
      overflow: hidden;
      position: relative;
      height: 119px; }
    /* line 179, ../sass/scss/components/ui.scss */
    .lst-list-2 ul {
      position: absolute;
      left: 0;
      top: 0; }
    /* line 184, ../sass/scss/components/ui.scss */
    .lst-list-2 li {
      width: 130px;
      float: left;
      margin-right: 10px; }
    /* line 189, ../sass/scss/components/ui.scss */
    .lst-list-2 .list-img {
      display: block;
      width: 124px;
      height: 91px;
      padding: 2px;
      border: 1px solid #e7e7e7; }
      /* line 194, ../sass/scss/components/ui.scss */
      .lst-list-2 .list-img:hover {
        border: 1px solid #ed5f00; }
    /* line 198, ../sass/scss/components/ui.scss */
    .lst-list-2 p {
      padding-top: 8px;
      text-align: center; }
      /* line 201, ../sass/scss/components/ui.scss */
      .lst-list-2 p a {
        color: #0068b7; }

/* line 208, ../sass/scss/components/ui.scss */
.software-tr {
  position: relative;
  height: 34px;
  background: #ed5f00; }
  /* line 212, ../sass/scss/components/ui.scss */
  .software-tr span {
    color: #fff; }
  /* line 216, ../sass/scss/components/ui.scss */
  .software-tr a {
    top: 10px;
    color: #fff; }

/* line 222, ../sass/scss/components/ui.scss */
.software-list {
  border: 1px solid #ed5f00;
  height: 311px;
  padding: 15px; }
  /* line 226, ../sass/scss/components/ui.scss */
  .software-list li {
    float: left;
    width: 70px;
    margin: 0 29px 15px 0; }
  /* line 231, ../sass/scss/components/ui.scss */
  .software-img img {
    width: 70px;
    height: 70px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #c3c3c3; }
  /* line 236, ../sass/scss/components/ui.scss */
  .software-p {
    padding-top: 8px;
    text-align: center; }
    /* line 239, ../sass/scss/components/ui.scss */
    .software-p a {
      color: #777; }

/* line 245, ../sass/scss/components/ui.scss */
.m-content {
  margin-top: 15px; }

/* line 252, ../sass/scss/components/ui.scss */
.gup-lst .lst-list {
  height: 221px;
  border-top: none; }

/* line 257, ../sass/scss/components/ui.scss */
.gup-lst-tr {
  overflow: hidden;
  height: 75px;
  border: 1px solid #e7e7e7;
  border-bottom: 1px dashed #ccc; }

/* line 263, ../sass/scss/components/ui.scss */
.gup-lst-tr-r {
  width: 172px;
  padding-left: 15px; }
  /* line 266, ../sass/scss/components/ui.scss */
  .gup-lst-tr-r .gup-lst-tr-r-a {
    color: #000;
    font-size: 14px;
    font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53; }
  /* line 271, ../sass/scss/components/ui.scss */
  .gup-lst-tr-r p {
    padding-top: 10px;
    line-height: 20px;
    color: #999; }

/* line 279, ../sass/scss/components/ui.scss */
.m-link .link {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #e3e3e3; }

/* line 280, ../sass/scss/components/ui.scss */
.m-link .link a {
  font-size: 16px;
  font-family: "微软雅黑"; }

/* line 281, ../sass/scss/components/ui.scss */
.link-2 {
  margin: 15px 0 20px;
  padding: 15px 0 12px 25px;
  border: 1px solid #e3e3e3; }

/* line 282, ../sass/scss/components/ui.scss */
.link-2 a {
  margin-right: 32px;
  float: left; }

/* line 283, ../sass/scss/components/ui.scss */
.m-link p {
  color: #303030;
  font-size: 14px;
  font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53; }

/* myplayer */
/* line 290, ../sass/scss/components/ui.scss */
div#myplayer {
  border: 1px #cccccc solid;
  clear: both;
  background: #ffffff;
  clear: both;
  height: 290px; }

/* line 292, ../sass/scss/components/ui.scss */
ul.mylist {
  width: 100%;
  text-align: left;
  font-size: 12px; }

/* line 293, ../sass/scss/components/ui.scss */
ul.mylist li {
  padding: 1px 0;
  line-height: 24px;
  height: 24px;
  border-top: 1px #efefef solid; }

/* line 294, ../sass/scss/components/ui.scss */
ul.mylist li.on {
  background: #efefef; }

/* line 295, ../sass/scss/components/ui.scss */
ul.mylist li a, ul.mylist li a:link, ul.myllist li a:visited {
  padding: 0px 6px 0px 30px;
  overflow: hidden;
  line-height: 24px;
  height: 24px;
  display: block;
  background: url(Images/Vico.jpg) no-repeat 6px 6px;
  text-decoration: none;
  color: #666666; }

/* line 296, ../sass/scss/components/ui.scss */
ul.mylist li a:hover {
  color: #cc0000;
  background: #efefef url(Images/Vico.jpg) no-repeat 6px 6px; }

/* line 298, ../sass/scss/components/ui.scss */
div#CuPlayer {
  width: 425px;
  float: left;
  margin-left: 5px;
  margin-top: 10px; }

/* line 299, ../sass/scss/components/ui.scss */
div.list {
  width: 270px;
  float: left;
  margin-top: 10px; }

/* line 301, ../sass/scss/components/ui.scss */
div.list dl img {
  width: 70px;
  height: 50px;
  float: left; }

/* line 302, ../sass/scss/components/ui.scss */
div.list dl strong {
  display: block;
  width: 190px;
  float: left;
  padding-left: 8px; }

/* line 303, ../sass/scss/components/ui.scss */
div.list dl span {
  display: block;
  width: 190px;
  float: left;
  padding-left: 8px; }

/* line 305, ../sass/scss/components/ui.scss */
div.list dl dt {
  width: 270px;
  float: left; }

/* line 306, ../sass/scss/components/ui.scss */
div.list dl dt a {
  display: block;
  line-height: 18px;
  padding-top: 10px;
  border-bottom: 1px #cccccc solid;
  height: 65px;
  padding-top: 10px;
  color: #333;
  font-size: 12px;
  text-decoration: none; }

/* line 308, ../sass/scss/components/ui.scss */
div.list dl dt a:hover {
  height: 65px;
  padding-top: 10px;
  text-decoration: none;
  background: #efefef; }

/* line 312, ../sass/scss/components/ui.scss */
.rd-list .l {
  float: left; }
/* line 315, ../sass/scss/components/ui.scss */
.rd-list .r {
  float: left;
  padding-left: 18px; }
  /* line 318, ../sass/scss/components/ui.scss */
  .rd-list .r p {
    padding-top: 10px; }

/* line 2, ../sass/scss/components/search.scss */
.m-search {
  height: 44px; }

/* line 3, ../sass/scss/components/search.scss */
.m-search .search-list {
  line-height: 44px;
  padding-left: 28px; }

/* line 4, ../sass/scss/components/search.scss */
.m-search .search-list * {
  float: left;
  margin-right: 10px;
  color: #ed5f00; }

/* line 5, ../sass/scss/components/search.scss */
.m-search-submit {
  padding: 8px 34px 0 0; }

/* line 6, ../sass/scss/components/search.scss */
.m-search-submit * {
  float: left; }

/* line 7, ../sass/scss/components/search.scss */
.m-search-submit .keywords {
  height: 17px;
  width: 295px;
  padding: 5px 0 5px 5px;
  line-height: 17px;
  font-size: 12px;
  border: none;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca; }

/* line 9, ../sass/scss/components/search.scss */
.m-search-submit .keywords-1 {
  width: 14px;
  height: 29px;
  background: url(../images/search.png) no-repeat 0 -30px; }

/* line 10, ../sass/scss/components/search.scss */
.m-search-submit .submit {
  width: 29px;
  height: 29px;
  background: url(../images/search.png) no-repeat;
  border: none;
  cursor: pointer; }

/* line 2, ../sass/scss/components/list.scss */
.c-right {
  width: 268px;
  float: right;
  overflow: hidden; }

/* line 3, ../sass/scss/components/list.scss */
.c-right-ad {
  width: 100%;
  overflow: hidden; }

/* line 4, ../sass/scss/components/list.scss */
.c-right-ad img {
  max-width: 268px;
  vertical-align: bottom; }

/* line 5, ../sass/scss/components/list.scss */
.c-right-block {
  margin: 15px 0;
  overflow: hidden;
  width: 100%; }

/* line 6, ../sass/scss/components/list.scss */
.c-right-block h3 {
  color: #ed5f00;
  font-size: 18px;
  font-family: 'microsoft yahei';
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #f0f0f0; }

/* line 7, ../sass/scss/components/list.scss */
.c-right-block .c-right-blockdiv {
  width: 100%;
  overflow: hidden; }

/* line 8, ../sass/scss/components/list.scss */
.c-right-block .c-right-blockdiv a {
  background: #f1f1f1;
  border-radius: 12px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  padding: 0 12px;
  color: #777;
  margin: 10px 10px 0 0; }

/* line 10, ../sass/scss/components/list.scss */
.c-right-block .c-right-blockdiv a:hover, .c-right-block .c-right-blockdiv a:active {
  background: #ed5f00;
  text-decoration: none;
  color: #fff; }

/* line 11, ../sass/scss/components/list.scss */
.c-right-block .c-right-title {
  width: 100%;
  overflow: hidden;
  height: 38px;
  line-height: 38px;
  font-size: 18px;
  font-family: 'microsoft yahei';
  border-bottom: 1px #f0f0f0 solid; }

/* line 13, ../sass/scss/components/list.scss */
.c-right-block .c-right-title a {
  float: right;
  font-size: 12px;
  font-family: 'Simsun';
  color: #999;
  padding-top: 2px; }

/* line 14, ../sass/scss/components/list.scss */
.c-right-block .c-right-title i {
  width: 29px;
  height: 25px;
  display: inline-block;
  margin-right: 8px;
  background: url(../images/tool.png) no-repeat; }

/* line 15, ../sass/scss/components/list.scss */
.c-right-block .c-right-title i.rpeizi {
  background-position: 0 -130px;
  vertical-align: -8px; }

/* line 16, ../sass/scss/components/list.scss */
.c-right-block .c-right-title i.rlicai {
  background-position: 0 -163px;
  vertical-align: -3px; }

/* line 17, ../sass/scss/components/list.scss */
.c-right-block .c-right-title i.rchaogu {
  background-position: 0 -201px;
  vertical-align: -4px; }

/* line 18, ../sass/scss/components/list.scss */
.c-right-block .m-list2 ul {
  margin: 10px 0; }

/* line 19, ../sass/scss/components/list.scss */
.c-right-block .m-list2 ul li a {
  color: #999; }

/* line 20, ../sass/scss/components/list.scss */
.c-right-block .m-list2 ul li i.dot {
  border-color: #999; }

/* line 21, ../sass/scss/components/list.scss */
.right-expert {
  overflow: hidden;
  width: 100%; }

/* line 22, ../sass/scss/components/list.scss */
.right-expert .r-expert-block {
  width: 100%;
  height: 70px;
  margin: 20px 0;
  border-bottom: 1px solid #f0f0f0;
  position: relative; }

/* line 23, ../sass/scss/components/list.scss */
.right-expert .r-expert-block span {
  width: 34px;
  height: 34px;
  display: inline-block;
  background: url(../images/tool.png) no-repeat 0 -296px;
  float: left;
  text-align: center;
  padding-top: 12px;
  font-size: 16px;
  font-family: 'Arial';
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: -12px;
  left: 4px; }

/* line 25, ../sass/scss/components/list.scss */
.right-expert .r-expert-block span.numon {
  background-position: 0 -242px; }

/* line 26, ../sass/scss/components/list.scss */
.right-expert .r-expert-block img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  float: left;
  margin: 10px 0 0 50px; }

/* line 27, ../sass/scss/components/list.scss */
.right-expert .r-expert-block .name {
  font-size: 14px;
  color: #777;
  line-height: 26px;
  margin: 10px 0 0 15px;
  float: left; }

/* line 28, ../sass/scss/components/list.scss */
.right-expert .r-expert-block .seek {
  width: 64px;
  height: 49px;
  float: right;
  margin: 6px 10px 0 0;
  display: none; }

/* line 29, ../sass/scss/components/list.scss */
.right-expert .r-expert-block .seek img {
  width: 64px;
  height: 49px;
  border-radius: 0;
  margin: 0; }

/* line 31, ../sass/scss/components/list.scss */
.crumbs {
  width: 100%;
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px #f0f0f0 solid;
  font-family: 'Simsun'; }

/* line 32, ../sass/scss/components/list.scss */
.crumbs i.home {
  background: url(../images/tool.png) no-repeat 0 -103px;
  display: inline-block;
  width: 19px;
  height: 15px;
  vertical-align: -3px; }

/* line 33, ../sass/scss/components/list.scss */
.crumbs a:link, .crumbs a:visited {
  color: #777; }

/* line 34, ../sass/scss/components/list.scss */
.crumbs a:hover, .crumbs a:active {
  color: #ed5f00; }

/* line 35, ../sass/scss/components/list.scss */
.crumbs span {
  color: #ed5f00; }

/* line 2, ../sass/scss/layout/header.scss */
.m-topMin {
  height: 30px;
  line-height: 30px;
  color: #777; }

/* line 3, ../sass/scss/layout/header.scss */
.m-topMin .m-topLogo span {
  padding-right: 20px; }

/* line 4, ../sass/scss/layout/header.scss */
.m-topMin .m-topLogo a:link, .m-topMin .m-topLogo a:visited {
  color: #777;
  margin: 0 5px; }

/* line 5, ../sass/scss/layout/header.scss */
.m-topMin .m-topLogo a:hover, .m-topMin .m-topLogo a:active, .m-topMin .m-topLogo a.active {
  color: #ed5f00;
  font-weight: bold;
  text-decoration: none; }

/* line 6, ../sass/scss/layout/header.scss */
.m-topMin .m-list1 {
  line-height: 30px; }

/* line 7, ../sass/scss/layout/header.scss */
.m-tool li {
  background: url(../images/tool.png) no-repeat 0px 9px;
  padding-left: 30px;
  margin-right: 20px; }

/* line 8, ../sass/scss/layout/header.scss */
.m-tool li.tool2 {
  background-position: 0 -19px; }

/* line 9, ../sass/scss/layout/header.scss */
.m-tool li.tool3 {
  background-position: 0 -45px; }

/* line 10, ../sass/scss/layout/header.scss */
.m-tool li.tool4 {
  background-position: 0 -69px;
  margin: 0; }

/* line 11, ../sass/scss/layout/header.scss */
.m-logo {
  padding-top: 25px; }

/* line 12, ../sass/scss/layout/header.scss */
.m-logoR {
  text-align: right;
  color: #777; }

/* line 13, ../sass/scss/layout/header.scss */
.m-logoR img {
  padding: 10px 0;
  vertical-align: middle; }

/* line 14, ../sass/scss/layout/header.scss */
.m-logoR .m-list1 li {
  padding-left: 30px; }

/* line 15, ../sass/scss/layout/header.scss */
.m-hd .m-nav {
  margin-top: 25px;
  height: 46px;
  overflow: hidden;
  line-height: 46px; }

/* line 16, ../sass/scss/layout/header.scss */
.m-hd .m-nav li {
  background: url(../images/nav.png) no-repeat 0 center; }

/* line 17, ../sass/scss/layout/header.scss */
.m-hd .m-nav li.first {
  background: none; }

/*页脚*/
/* line 3, ../sass/scss/layout/footer.scss */
.g-ft {
  background: #ececec;
  text-align: center; }

/* line 4, ../sass/scss/layout/footer.scss */
.m-foot .m-aboutlist {
  padding: 25px 0 5px; }

/* line 5, ../sass/scss/layout/footer.scss */
.m-foot .m-aboutlist a {
  margin: 0 25px;
  font-size: 16px;
  font-family: "微软雅黑";
  color: #000; }

/* line 6, ../sass/scss/layout/footer.scss */
.m-foot .m-aboutlist a:hover, .m-foot .m-aboutlist a:visited {
  color: #ed5f00; }

/* line 7, ../sass/scss/layout/footer.scss */
.m-foot .tit {
  font-size: 14px; }

/* line 8, ../sass/scss/layout/footer.scss */
.m-foot .tit a {
  color: #ed5f00;
  font-weight: bold; }

/* line 9, ../sass/scss/layout/footer.scss */
.m-foot .tit img {
  vertical-align: -24px; }

/* line 10, ../sass/scss/layout/footer.scss */
.m-foot .records {
  color: #9f9f9f; }

/* line 11, ../sass/scss/layout/footer.scss */
.m-foot .linkImg {
  padding: 45px 0 34px; }

/* line 12, ../sass/scss/layout/footer.scss */
.m-foot .linkImg a {
  margin-right: 15px; }

/*虚拟炒股
------------------------------------------------------------------------------------------*/
/* line 19, ../sass/study.scss */
.introduction {
  margin-top: 12px; }
  /* line 21, ../sass/study.scss */
  .introduction h3 {
    padding-bottom: 12px;
    font-size: 20px;
    font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53;
    font-weight: normal; }
  /* line 27, ../sass/study.scss */
  .introduction .inon-fr {
    width: 443px;
    padding-left: 24px; }
  /* line 31, ../sass/study.scss */
  .introduction .inon-bt {
    padding-bottom: 15px;
    border-bottom: 1px solid #f0f0f0; }
  /* line 35, ../sass/study.scss */
  .introduction .hr {
    font-size: 16px;
    font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53; }
  /* line 39, ../sass/study.scss */
  .introduction .content {
    line-height: 24px;
    color: #777; }
  /* line 43, ../sass/study.scss */
  .introduction .inon-list {
    margin-top: 10px; }
    /* line 45, ../sass/study.scss */
    .introduction .inon-list li {
      float: left;
      margin-right: 15px; }
    /* line 49, ../sass/study.scss */
    .introduction .inon-list img {
      border: 1px solid #0d70bb; }
