 /*title
  * 鹏生股票学习网
  * 通用引用文件，base
  * Developed By: 杨韦韦
  * 版本号：2015-1-20   

  布局（grid）（.g-）；
  模块（module）（.m-）；
  元件（unit）（.u-）；
  功能（function）（.f-）；
  皮肤（skin）（.s-）；
  状态（.z-）
 */
@import url("base.css");
/*公共样式
------------------------------------------------------------------------------------------*/
/*----皮肤----*/
.s-fc-ed{color: #ed5f00;}
.s-fc-555{color: #555;}
.s-fc-999{color: #999;}
.s-bg-e3{background: #e3e3e3;}

/*状态*/
.z-juzhon{width: 1000px; margin: 0 auto;}
.z-crt{text-decoration: underline;}

/*水平文字链接列表 */
.m-list1{line-height:23px;}
.m-list1 ul{margin-left:-10px;}
.m-list1 li{float:left;padding-left:10px;}
.m-list1 a,.m-list1 a:hover{text-decoration:none;color:#333;}

/* 带点文字链接列表-默认方点 */
.m-list2{padding-top:1px;line-height:1.5;}
.m-list2 ul{margin-top:-6px;}
.m-list2 li{position:relative;padding-left:10px;margin-top:5px;zoom:1;height: 24px;line-height: 24px;overflow: hidden;}
.m-list2 li a:link,.m-list2 li a:visited {color:#555;}
.m-list2 li a:hover,.m-list2 li a:active {color:#ed5f00;}
.m-list2 li i.dot{position:absolute;top:52%;left:0;width:0;overflow:hidden;height:1px;margin-top:-3px;border:1px solid #555;}
.m-list2-lg{font-size:14px;}

/* 标题文本-默认大小继承 */
.u-tt{font-family:'microsoft yahei',sans-serif;}
.u-tt-sm{font-size:12px;}
.u-tt-md{font-size:14px;}
.u-tt-lg{font-size:16px;}
.u-tt-xl{font-size:18px;}

/* 文本型圆角背景导航 */
.m-nav,.m-nav li,.m-nav li a,.m-nav .corner{height:46px;line-height:46px;}
.m-nav,.m-nav li,.m-nav .corner{background:#0068b7 no-repeat -9999px -9999px;}
.m-nav{position:relative;text-align:center;font-size:0;letter-spacing:-0.307em;*letter-spacing:normal;*word-spacing:-1px;color:#fff;background-repeat:repeat-x;
  background-position:0 0;border-radius: 3px;}
.m-nav li,.m-nav li a{display:inline-block;*display:inline;*zoom:1;}
.m-nav li{padding:0 0 0 1px;font-size:14px;letter-spacing:normal;word-spacing:normal;background-position:0 -150px;}
.m-nav li.first{background:none;}
.m-nav li a,.m-nav li a:hover{text-decoration:none;color:#fff;}
.m-nav li a{padding:0 45px; font-size: 18px; font-family: "微软雅黑";}
/*新闻列表*/
.m-newsMin{width: 323px;}
.m-newsMin .hr{position: relative;  height: 40px; background: #0068b7 url(../images/hr.png) no-repeat 15px 8px; line-height: 40px; color: #fff;}
.m-newsMin .hr span{ padding-left: 44px;}
.m-newsMin .hr a{position: absolute; right: 15px; top: 13px; color: #fff; line-height: normal; }
.m-newsMin .m-list2{border: 1px solid #e3e3e3; padding: 15px;}
/*首页样式
------------------------------------------------------------------------------------------*/
.m-topMin{height: 30px; line-height: 30px;color:#777;}
.m-topMin .m-topLogo span{padding-right: 20px;}
.m-topMin .m-topLogo a:link,.m-topMin .m-topLogo a:visited {color:#777;margin: 0 5px;}
.m-topMin .m-topLogo a:hover,.m-topMin .m-topLogo a:active,.m-topMin .m-topLogo a.active {color: #ed5f00;font-weight: bold;text-decoration: none;}
.m-topMin .m-list1{line-height: 30px;}
.m-tool li{background: url(../images/tool.png) no-repeat 0px 9px; padding-left: 30px; margin-right: 20px;}
.m-tool li.tool2{background-position: 0 -19px;}
.m-tool li.tool3{background-position: 0 -45px;}
.m-tool li.tool4{background-position: 0 -69px; margin: 0;}
.m-logo{padding-top: 25px;}
.m-logoR{text-align: right;color: #777; }
.m-logoR img{padding: 10px 0; vertical-align: middle;}
.m-logoR .m-list1 li{padding-left: 30px;}
.m-hd .m-nav{margin-top: 25px;height:46px;overflow: hidden;line-height: 46px;}
.m-hd .m-nav li{background: url(../images/nav.png) no-repeat 0 center;}
.m-hd .m-nav li.first{background: none;}


.m-news .m-newsBottom{margin-top: 15px;}
.m-newsMin{float: left; margin-right: 15px;}
.m-newsMin .hrBg-2{background-position: 15px -30px;}
.m-newsMin .hrBg-3{background-position: 15px -74px;}
.m-newsMin .hrBg-4{background-position: 15px -111px;}
.m-newsMin .hrBg-5{background-position: 15px -151px;}
.m-newsMin .hrBg-6{background-position: 15px -195px;}
.m-newsMin .hrBg-7{background-position: 15px -233px;}
.m-newsMin .hrBg-8{background-position: 15px -276px;}
.m-newsMin .hrBg-9{background-position: 15px -310px;}
.link-2 a.f-m,.f-m{margin: 0;}
.banimg img{display: block;}
.m-newsMin .m-list2{margin-bottom: 15px;}
.m-link .link{margin-top: 15px; padding: 10px; border: 1px solid #e3e3e3;}
.m-link .link a{font-size: 16px; font-family: "微软雅黑"}
.link-2{margin: 15px 0; padding: 15px 0 12px 25px; border: 1px solid #e3e3e3;}
.link-2 a{margin-right: 34px; float: left;}
.conboxlist p{padding-bottom: 8px; font-size: 18px; font-family: "微软雅黑";}
.conboxImg a{display: block; width: 175px; height: 80px; float: left; border: 1px solid #e6e6e6; margin-right: 28px; margin-bottom: 20px;}
.conboxImg a:hover{border: 1px solid red}

/*页脚*/
.g-ft{background: #ececec; text-align: center;}
.m-foot .m-aboutlist{padding: 25px 0 5px; }
.m-foot .m-aboutlist a{margin: 0 25px; font-size: 16px; font-family: "微软雅黑";color:#000;}
.m-foot .m-aboutlist a:hover,.m-foot .m-aboutlist a:visited{color:#ed5f00;}
.m-foot .tit{font-size: 14px;}
.m-foot .tit a{color: #ed5f00; font-weight: bold;}
.m-foot .tit img {vertical-align: -24px;}
.m-foot .records{color: #9f9f9f;}
.m-foot .linkImg{padding: 45px 0 34px;}
.m-foot .linkImg a{margin-right: 15px;}

/*内容部分*/
.content {width: 1000px;margin:15px auto;overflow: hidden;}
.c-left {width: 704px;border-right: 1px dashed #ececec;float: left;overflow: hidden;padding-right: 15px;}
  .crumbs {width: 100%;overflow: hidden;height: 30px;line-height: 30px;border-bottom: 1px #f0f0f0 solid;font-family: 'Simsun';}
  .crumbs i.home {background: url(../images/tool.png) no-repeat 0 -103px;display: inline-block;width: 19px;height: 15px;vertical-align: -3px;}
  .crumbs a:link,.crumbs a:visited {color:#777;}
  .crumbs a:hover,.crumbs a:active {color:#ed5f00;}
  .crumbs span {color:#ed5f00;}
  .list-pic {width: 100%;overflow: hidden;}
  .list-pic li {width: 100%;overflow: hidden;height: 155px;padding:20px 0;border-bottom: 1px #f0f0f0 solid;}
  .list-pic li img {width: 197px;height: 155px;float: left;margin-right: 20px;}
  .list-pic li h2 {font-size: 20px;font-family: 'microsoft yahei';font-weight: normal;width: 480px;overflow: hidden;}
  .list-pic li h2 a {color:#000;}
  .list-pic li h2 a:hover,.list-pic li h2 a:active {text-decoration: none;color:#ed5f00;}
  .list-pic li p {width:480px;overflow: hidden;font-size: 14px;line-height: 26px;color:#999;height: 80px;margin: 16px 0;}
  .list-pic li p a {color:#ed5f00;margin-left: 5px;}
  .list-pic li .tags {width: 480px;overflow: hidden;font-size: 14px;color:#0c6fba;}
  .list-pic li .tags a {background: #0c6fba;font-size:12px;color:#fff;padding: 0 7px;height: 18px;line-height: 18px;display: inline-block;margin-right: 10px;}
  .list-pic li .tags a:hover,.list-pic li .tags a:active {background: #ed5f00;text-decoration: none;}
.c-right {width:268px;float: right;overflow: hidden;}
  .c-right-ad {width: 100%;overflow: hidden;}
  .c-right-ad img{max-width: 268px;vertical-align: bottom;}
  .c-right-block {margin: 15px 0;overflow: hidden;width: 100%;}
  .c-right-block h3 {color:#ed5f00;font-size:18px;font-family: 'microsoft yahei';font-weight: normal;height: 38px;line-height: 38px;border-bottom: 1px solid #f0f0f0;}
  .c-right-block .c-right-blockdiv {width: 100%;overflow: hidden;}
  .c-right-block .c-right-blockdiv a {background: #f1f1f1;border-radius: 12px;height: 28px;line-height: 28px;display: inline-block;padding: 0 12px;color: #777;
    margin: 10px 10px 0 0;}
  .c-right-block .c-right-blockdiv a:hover,.c-right-block .c-right-blockdiv a:active {background: #ed5f00;text-decoration:none;color:#fff;}
  .c-right-block .c-right-title {width: 100%;overflow: hidden;height: 38px;line-height: 38px;font-size: 18px;color#555;font-family: 'microsoft yahei';
  border-bottom: 1px #f0f0f0 solid;}
  .c-right-block .c-right-title a {float: right;font-size: 12px;font-family: 'Simsun';color: #999;padding-top: 2px;}
  .c-right-block .c-right-title i {width: 29px;height: 25px;display: inline-block;margin-right:8px;background: url(../images/tool.png) no-repeat;}
  .c-right-block .c-right-title i.rpeizi {background-position: 0 -130px;vertical-align: -8px;}
  .c-right-block .c-right-title i.rlicai {background-position: 0 -163px;vertical-align: -3px;}
  .c-right-block .c-right-title i.rchaogu {background-position: 0 -201px;vertical-align: -4px;}
  .c-right-block .m-list2 ul {margin:10px 0;}
  .c-right-block .m-list2 ul li a{color:#999;}
  .c-right-block .m-list2 ul li i.dot {border-color:#999;}

  .right-expert {overflow: hidden;width: 100%;}
  .right-expert .r-expert-block {width: 100%;height:70px;margin: 20px 0;border-bottom: 1px solid #f0f0f0;position: relative;}
  .right-expert .r-expert-block span {width: 34px;height: 34px;display: inline-block;background: url(../images/tool.png) no-repeat 0 -296px;float: left;text-align: center;
    padding-top: 12px;font-size: 16px;font-family: 'Arial';color:#fff;font-weight: bold;position: absolute;top: -12px;left: 4px;}
  .right-expert .r-expert-block span.numon {background-position: 0 -242px;}
  .right-expert .r-expert-block img {width: 50px;height: 50px;border-radius: 50px;float: left;margin: 10px 0 0 50px;}
  .right-expert .r-expert-block .name {font-size:14px;color:#777;line-height: 26px;margin: 10px 0 0 15px;float: left;}
  .right-expert .r-expert-block .seek {width: 64px;height: 49px;float: right;margin: 6px 10px 0 0;display: none;}
  .right-expert .r-expert-block .seek img {width: 64px;height: 49px;border-radius: 0;margin: 0}


#pages {width: 100%;overflow: hidden;text-align: center;margin:50px 0; }
#pages a {background: #f6f6f6;border: 1px solid #dcdcdc;height: 28px;line-height: 28px;padding: 0 10px;display: inline-block;color:#000;font-family: 'microsoft yahei';
margin:0 5px;border-radius: 5px;font-size: 13px;}
#pages a:hover,#pages a:active,#pages a.on {background: #ed5f00;border-color: #ed5f00;color: #fff;text-decoration: none;}
#pages input {border-radius: 5px;height: 28px;line-height: 28px;border:1px #dcdcdc solid;text-align: center;font-size: 13px;font-weight: bold;}
#pages input.pageGo {background: #ed5f00;font-size: 12px;font-weight: bold;color: #fff;font-family: 'Arial';border: none;padding: 0 5px;cursor: pointer;}
#pages span {margin:0 10px 0 5px;}
