@charset "utf-8";

@import "compass/css3";

@import 'scss/helpers/variables';  

@import 'scss/base/reset'; 
@import 'scss/base/function';

@import 'scss/components/ui';
@import 'scss/components/search';
@import 'scss/components/list';

@import 'scss/layout/header';
@import 'scss/layout/footer';

/*炒股软件
------------------------------------------------------------------------------------------*/
.m-meta{
	h1{
		margin-bottom: 28px;
		font-size: $fs24;
		font-family: $f-ff1;
		text-align: center;
		font-weight: 400;
	}
	span{
		margin-right: 50px;
		color: #777;
	}
	.meta-abstract{
		margin-top: 28px;
		padding: 15px 15px 15px 80px;
		color: #999;
		line-height: 24px;
		background:#f6f6f6 url(../images/abstract.gif) no-repeat 16px center;
		border: 1px solid #e5e5e5;
	}
}

.m-entryB{
	.tag{
		margin-bottom: 20px;
		.l{
			float: left;
			a{
				padding: 2px 5px;
				background: #0c6fba;
				color: #fff;
			}
		}
		.r{
			float: right;
			font-size: 14px;
		}
	}
	.posts{
		border-radius: 3px;
		padding: 8px 28px;
		background: #f4f4f4;
		a{
			color: #777;
		}
	}
	.url{
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;
	}
	.txt{
		margin-right: 10px;
		color: #898989;
	}
	.collect{
		margin-right: 5px;
	}
	.bd {
		margin-top: 10px;
		h3{
			font-size: 14px;
			margin-bottom: 10px;
		}
		li{
			width: 341px;
			color: #666;
		}
	}
	@at-root .bd2 {
		.tab-list{
			padding-top: 25px;
		}
		.m-list2-lg{
			margin-left: 44px;
			li a{
				color: #999;
			}
		}
	}

}

// 文章排版
.m-entry{font-size:14px;line-height:24px;word-wrap:break-word;}
.m-entry img{max-width:670px;}
.m-entry h2,.m-entry h3,.m-entry h4{border-bottom:1px solid #EEE;color:#111;padding-bottom:5px;}
.m-entry h2{font-size:15px;}
.m-entry h3,.m-entry h4{font-size:14px;}
.m-entry strong{color:#DC2523;}
.m-entry ul,.m-entry ol{margin:16px;}
.m-entry li{margin-left:26px;}
.m-entry ul li{list-style:disc outside none;}
.m-entry ol li{list-style:decimal outside none;}
.m-entry p{margin:35px 0; color: #555; line-height: 28px;}
.m-entry a{text-decoration:underline;}
.m-entry code, .comment code{background-color:#EEE;border-radius:2px 2px 2px 2px;color:#777;font-family:'courier new';margin:0 4px;padding:1px 4px;}
.m-entry table{border-left:1px solid #EEE;border-top:1px solid #EEE;}
.m-entry table th{background-color:#F9F9F9;text-align:center;}
.m-entry table td, .m-entry table th{border-bottom:1px solid #EEE;border-right:1px solid #EEE;padding:5px 10px;}

.bdsharebuttonbox{
	padding: 15px 0;
}
