@charset "utf-8";

@import "compass/css3";

@import 'scss/helpers/variables';  

@import 'scss/base/reset'; 
@import 'scss/base/function';

@import 'scss/components/ui';
@import 'scss/components/search';
@import 'scss/components/list';

@import 'scss/layout/header';
@import 'scss/layout/footer';

/*虚拟炒股
------------------------------------------------------------------------------------------*/
.introduction{
	margin-top: 12px;
	h3{
		padding-bottom: 12px;
		font-size: 20px;
		font-family: $f-ff1;
		font-weight: normal;
	}
	.inon-fr{
		width: 443px;
		padding-left: 24px;
	}
	.inon-bt{
		padding-bottom: 15px;
		border-bottom: 1px solid #f0f0f0;
	}
	.hr{
		font-size: 16px;
		font-family: $f-ff1;
	}
	.content{
		line-height: 24px;
		color: #777;
	}
	.inon-list{
		margin-top: 10px;
		li{
			float: left;
			margin-right: 15px;
		}
		img{
			border: 1px solid #0d70bb;
		}
	}
}