@charset "utf-8";

@import "compass/css3";

@import 'scss/helpers/variables';  

@import 'scss/base/reset'; 
@import 'scss/base/function';

@import 'scss/components/ui';
@import 'scss/components/search';
@import 'scss/components/list';

@import 'scss/layout/header';
@import 'scss/layout/footer';

/*视频样式
------------------------------------------------------------------------------------------*/
.m-videolist-2 .tab-list-ul{
	li{
		width: 120px;
		height: 154px;
		margin-right: 12px;
	}
	.tab-list-a{
		padding-top: 10px;
		font-size: 12px;
		font-family: $f-ff0;
	}
}