@charset "UTF-8";

// 字体大小
$fs12: 12px;
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs26: 26px;
$fs26: 28px;

// 字体样式
$f-ff0:arial,\5b8b\4f53;
$f-ff1:"Microsoft YaHei",\5fae\8f6f\96c5\9ed1,arial,\5b8b\4f53;

// 边距
$ml15: 15px;
$mt25: 25px;
$mt15: 15px;
$mb20: 20px;
$pl10: 10px;
$pl15: 15px;

// 颜色
$c-ee6a11: #ee6a11;
$c-333: #333;
$c-777: #777;
$c-0068b7: #0068b7;
$c-fff: #fff;
$c-c3c3c3:#c3c3c3;
$c-e9e9e9: #e9e9e9;
$c-ed5f00: #ed5f00;
$c-e7e7e7: #e7e7e7;
$c-999:#999;

// 边框
$b-all: 1px solid #e7e7e7;
$b-all-hover:1px solid #ed5f00;
$b-all-1: 1px solid #ed5f00;
// 宽度
$w300: 300px;
$w325: 325px;

//行高
$lh: 100%;
$lh1: 150%;


// mixin
@mixin lh($n) {
	height: $n;
	line-height: $n
}

@mixin size($w,$h:$w){
	width: $w;
	height: $h; 
}
