@charset "utf-8";
/*页脚*/
.g-ft{background: #ececec; text-align: center;}
.m-foot .m-aboutlist{padding: 25px 0 5px; }
.m-foot .m-aboutlist a{margin: 0 25px; font-size: 16px; font-family: "微软雅黑";color:#000;}
.m-foot .m-aboutlist a:hover,.m-foot .m-aboutlist a:visited{color:#ed5f00;}
.m-foot .tit{font-size: 14px;}
.m-foot .tit a{color: #ed5f00; font-weight: bold;}
.m-foot .tit img {vertical-align: -24px;}
.m-foot .records{color: #9f9f9f;}
.m-foot .linkImg{padding: 45px 0 34px;}
.m-foot .linkImg a{margin-right: 15px;}